body:not(.framed){
  overflow: hidden;
  padding: 4em 0px 0px 0px;
  margin: 0px;
}

html, body {
  height: 100%;
  width: 100%;
}

body.framed {
  overflow: hidden;
  margin: 1em 0px 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}

body.framed > .container-fluid {
  height: 100%;
}

.row.tab-content {
  height: 90%;
}

.navbar-right {
  margin-top: 1em;
}

.btn span.fa, button span.fa {
  vertical-align: middle;
}

tr.workbook:hover { background-color:rgb(240,240,240) !important; }
tr.workbook:hover td { background-color:rgba(0,0,0,0) !important; }
tr.selected { background-color:rgb(220,220,255) !important; }
tr.selected td { background-color:rgba(0,0,0,0) !important; }
tr.selected:hover { background-color:rgb(220,220,255) !important; }
tr.selected:hover td { background-color:rgba(0,0,0,0) !important; }

button + button,
a.button + a.button {
  margin-left: .5em;
}

button.bg-danger, .btn.bg-danger {
  background-color: #f2dede;
}

#topMenu h2 {
  display: inline;
  vertical-align: bottom;
  text-overflow: ellipsis;
}

.btn .fa {
  vertical-align: middle;
}

span.fa.text-label {
  font-family: monospace;
}

iframe#results {
  width: 100%;
  border: none;
  height: 100%;
  margin-top: 1em;
  position: relative;
  overflow: hidden;
  max-width: 100%;
}

#frce {
  display: none;
}

#workbookName {
  display: inline;
}

#cells-container {
  height: 100%;
  overflow-y: auto;
}

#cells { 
  height: auto;
}

#output-container {
  height: 100%;
  overflow-y: auto;
}

#output {
  height: auto;
}

.full-height {
  height: 100%;
}
    
.form-align {
  margin-top: 1.8em !important;
}
