body:not(.framed){
  padding-top: 4em;
}

.navbar-right {
  margin-top: 1em;
}

.btn span.fa, button span.fa {
  vertical-align: middle;
}

tr.workbook:hover { background-color:rgb(240,240,240) !important; }
tr.workbook:hover td { background-color:rgba(0,0,0,0) !important; }
tr.selected { background-color:rgb(220,220,255) !important; }
tr.selected td { background-color:rgba(0,0,0,0) !important; }
tr.selected:hover { background-color:rgb(220,220,255) !important; }
tr.selected:hover td { background-color:rgba(0,0,0,0) !important; }

button + button,
a.button + a.button {
  margin-left: .5em;
}

#topMenu h2 {
  display: inline;
  vertical-align: bottom;
  text-overflow: ellipsis;
}

.btn .fa {
  vertical-align: middle;
}

span.fa.text-label {
  font-family: monospace;
}

iframe#results {
  width: 100%;
  border: none;
  height: 1200px;
  margin-top: 1em;
}

#frce {
  display: none;
}

#workbookName {
  display: inline;
}
