
#screen {
	display : none;
	position : fixed;
	top : 0;
	left : 0;
	width : 100%;
	height : 100%;
	z-index : 997;
	opacity : 0.6;
	background-color : #444444;
}

.panel {
	display : none;
	position : fixed;
	left : 0;
	top : 0;
	right : 0;
	bottom : 0;
	margin : auto;
	width : 30%;
	height : 60%;
	overflow-y : auto;
	z-index : 998;
	opacity : 1.0;
	background-color : #ffffff;
}

.disable-hover {
	pointer-events: none;
}

/* this was a way to do right indent, but we use td { padding-right:2px; } instead  */
span.right-indent {
	display:inline-block;
	width:2px;
}

.expand {
	cursor: pointer;
	position: absolute;
	left: 2px;
	top: 7px;
	width: 11px;
	height: 11px;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAALCAIAAAD0nuopAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAA/SURBVChTY6AO+I8bEKmA2kZgctFE0ABEAfWMgHJgAFkQmQ0HKIIQDgRgctFE0ABEAbWNQANEKqCGERQBBgYAAc26VBhcBeYAAAAASUVORK5CYII=');
}

.plus {
	background-position: 0px 0px;
}

.minus {
	background-position: -11px 0px;
}

/* CSS sprites */
/* #nav li a:hover.item1 {background-position:0px -72px} */

/* position : { static | relative | absolute | sticky | fixed } 
A positioned element is an element whose computed position property is relative, absolute, fixed or sticky.
An absolutely positioned element is an element whose computed position property is absolute or fixed.
A relatively positioned element is an element whose computed position property is relative.
A stickily positioned element is an element whose computed position property is sticky.
*/

/* https://developer.mozilla.org/en-US/docs/Web/CSS/display */
/* display : {
  none | 
  block | list-item | 
  inline | inline-block | inline-table |
  table | table-cell | table-column | table-column-group | table-footer-group | table-header-group | table-row | table-row-group |
  flex | inline-flex |
  grid | inline-grid |
  run-in } */

/* overflow : { visible | hidden | scroll | auto } */
/* overflow-x and overflow-y have the same possible values, but are still experimental */

table {
	cursor: cell;
	text-indent: 2px;
	border-spacing: 1px;
	border-collapse: separate; /* collapse | separate */
	font: 11pt Calibri;
}

td {
	/* a bunch of stuff to disable text selection */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	border: 1px solid rgb(208,215,229);
	padding-right: 3px;
	padding-left: 3px;
	width: 64px;
	height: 20px;
	text-align: right;
	background-color: rgb(255,255,255);
}

td.objheader {
	text-align: center;
	background-color: rgb(255,200,200);
	border-color: rgb(158,182,206);
}

td.fldheader {
	text-align: center;
	background-color: rgb(208,246,117);
	border-color: rgb(158,182,206);
}

td.tblheader {
	text-align: center;
	background-color: rgb(208,216,217);
	border-color: rgb(158,182,206);
}

table .ui-selecting { border-color:red; }
table .ui-selected { border-color:red; }

#drum-sequencer .ui-selected {
	background-color: rgb(255,000,000);
}

#note-sequencer .ui-selected {
	background-color: rgb(000,000,150);
}

