
#screen {
	display : none;
	position : fixed;
	top : 0;
	left : 0;
	width : 100%;
	height : 100%;
	z-index : 997;
	opacity : 0.6;
	background-color : #444444;
}

.panel {
	display : none;
	position : fixed;
	left : 0;
	top : 0;
	right : 0;
	bottom : 0;
	margin : auto;
	width : 30%;
	height : 60%;
	overflow-y : auto;
	z-index : 998;
	opacity : 1.0;
	background-color : #ffffff;
}

.disable-hover {
	pointer-events: none;
}

/* this was a way to do right indent, but we use td { padding-right:2px; } instead  */
span.right-indent {
	display:inline-block;
	width:2px;
}

.expand {
	cursor: pointer;
	position: absolute;
	left: 2px;
	top: 7px;
	width: 11px;
	height: 11px;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAALCAIAAAD0nuopAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAA/SURBVChTY6AO+I8bEKmA2kZgctFE0ABEAfWMgHJgAFkQmQ0HKIIQDgRgctFE0ABEAbWNQANEKqCGERQBBgYAAc26VBhcBeYAAAAASUVORK5CYII=');
}

.plus {
	background-position: 0px 0px;
}

.minus {
	background-position: -11px 0px;
}

