
#fileChooser { display:none; }

.griddl-component { margin:1em; }
.griddl-component-head { }
.griddl-component-body { display:block; margin-top: 1px;}
.griddl-component-body-hidden { display:none; }

.griddl-component-head-type { display:inline-block; font-family:monospace; margin-right:.5em; width:5em; }
.griddl-component-head-name { position:relative;}
.griddl-component-head-minmax { position:relative; font-family:monospace;}

.griddl-component-head-radio-container { display:inline; }
.griddl-component-head-radio-button { }
.griddl-component-head-radio-label { }
.griddl-component-body-radio-textarea { width:30em; height:30em; }

#button-grandparent { display:inline; margin-bottom:1em; }
#button-parent { display:inline-block; border:0px solid black; float:left; }
.griddl-header-button { }
.gapRight { margin-right:1em; }
.gapLeft { margin-left:1em; }

div#documentMenu button {
  display: inline-block;
  margin-top: 1em;
}

div#documentMenu .dropdown-menu i.fa-2x {
  width: 2em;
  margin-left: auto;
  margin-right: auto;
}

.griddl-component-body {
  width: 100%;
  overflow: hidden;
}

.griddl-component-head-name {
  display: inline-block;
  width: 50%;
}

.griddl-component.image img {
  width: 100%;
  height: 100%;
}

.griddl-component-head-minmax,
.griddl-component-head-remove,
.griddl-component-head-type {
  margin-left: .5em;
}

.griddl-component-head-btngrp-container {
  margin-top: -2px;
}

/* CodeMirror Bootstrap CSS from: http://stackoverflow.com/questions/12742058/apply-twitter-bootstrap-stylings-to-codemirror  -- may need updates :P */
.CodeMirror {
  line-height: 1.3em;
  font-family: monospace;

  /* Necessary so the scrollbar can be absolutely positioned within the wrapper on Lion. */
  position: relative;
  /* This prevents unwanted scrollbars from showing up on the body and wrapper in IE. */
  overflow: hidden;
  background-color: white;
  width: 100% !important; /* this enforces col sizing -nh */

  /* Copied from Bootstrap's textarea */
  display: inline-block;
  margin-bottom: 9px;
  color: #555555;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;  
}

.CodeMirror-focused {
  /* Copied from Bootstrap's textarea */
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);  
}

.CodeMirror-gutters {
  height: 100% !important;
}


#frce {
  display: none;
}

#output {
  display: block;
  background-color: rgba(117,103,132, .7);
  margin-top: 3em;
}

.reorder-handle {
  display: inline-block;
  cursor: move;
}

.btn span.fa, button span.fa {
  vertical-align: middle;
}
.btn .fa {
  vertical-align: middle;
}

span.fa.text-label {
  font-family: monospace;
}
