
#fileChooser { display:none; }

.griddl-component { margin:1em; }
.griddl-component-head { }
.griddl-component-body { display:block; margin-top: 1px;}
.griddl-component-body-hidden { display:none; }

.griddl-component-head-type { display:inline-block; font-family:monospace; margin-right:.5em; width:3em; }
.griddl-component-head-name { position:relative;}
.griddl-component-head-minmax { position:relative; font-family:monospace;}

.griddl-component-head-radio-container { display:inline; }
.griddl-component-head-radio-button { }
.griddl-component-head-radio-label { }
.griddl-component-body-radio-textarea { width:30em; height:30em; }

#button-grandparent { display:inline; margin-bottom:1em; }
#button-parent { display:inline-block; border:0px solid black; float:left; }
.griddl-header-button { }
.gapRight { margin-right:1em; }
.gapLeft { margin-left:1em; }
