
div.indentree {
	margin-left: 10px;
	margin-top: 2px;
	margin-bottom: 2px;
	padding: 5px;
	border: 1px solid black;
}

div.boxtree {
	margin: 5px;
	padding: 5px;
	border: 1px solid black;
}

#container > div {
	display : inline-block;
}

div.Seq {
	border: 1px solid blue;
}

div.Alt {
	border: 1px solid red;
}

.Seq > div {
	display : inline-block;
}

.Alt > div {
	display : block;
}

.h > div {
	display : inline-block;
}

.v > div {
	display : block;
}

/* a bunch of stuff to disable text selection */

/* border-collapse: collapse | separate */
/*
table {
	cursor: cell;
	text-indent: 2px;
	border-spacing: 1px;
	border-collapse: separate; 
	font: 11pt Calibri;
}

td {

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	border: 1px solid rgb(208,215,229);
	padding-right: 3px;
	padding-left: 3px;
	width: 64px;
	height: 20px;
	text-align: right;
	background-color: rgb(255,255,255);
}
*/
