
#text0Container
{
	position : absolute;
	top : 5em;
	left : 2em;
}

#text0
{
	width : 70em;
	height : 40em;
}

#table0Container
{
	position : absolute;
	top : 35em;
	left : 4em;
}

#table0
{
	position : absolute;
	top : 0em;
	left : 0em;
	/* width : 20em; */
}

#output0Container
{
	position : absolute;
	top : 6em;
	left : 45em;
}

#output0
{
	border : 1px solid #c3c3c3;
}

