{% load static from staticfiles %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block meta-tags %}
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="shortcut icon" href="{% static 'griddl/favicon.ico' %}">
      <title>{% block title %}GridPile{% endblock %}</title>
    {% endblock meta-tags %}

    {% block styles %}
      <link href="{% static 'griddl/css/bootstrap.min.css' %}" rel="stylesheet">
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
      <link href="{% static 'griddl/css/custom.css' %}" rel="stylesheet">
    {% endblock styles %}

    {% block scripts %}
      <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
      <script src="{% static 'griddl/js/lib/bootstrap.min.js' %}"></script>
      <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

      <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
    {% endblock scripts %}
  </head>
  <body>
    {% include "griddl/topnav.htm" %}
    {% block pre-container %}
    {% endblock %}
    <div class="container">
      {% bootstrap_messages %}
      <div class="header">
        {% block header %}
        {% endblock %}
      </div>
      {% block body %}
      
      {% endblock %}
      <div class="footer">
        {% block footer %}
        {% endblock %}
      </div>
    </div>
    {% block post-container %}
    {% endblock %}
  </body>
</html>
