{% extends 'griddl/__base.htm' %}
{% load staticfiles %}

{% block title %} Your Account | {{ block.super }} {% endblock %}

{% block header %}
  <div style="display:inline-block; border:0px solid black; float:right; margin-top:1em;">
    <a href="/{{ acct.pk }}" style="margin-right:2em;">Profile</a>
    <a href="/logout" style="text-decoration:none; color:rgb(70,150,230); margin-right:2em;">Sign out</a>
  </div>
{% endblock header %}

{% block body %}
  <div class="row">
    <div class="col-xs-12">
      <p>
        <a href="{% url 'django.contrib.auth.views.password_change' %}" title="Change your password">Change your password</a>
      </p>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12 text-center">
      <p><label>Plan:</label> {{ acct.plan }}</p> 
      {% if acct.plan > 1 %}
        <p><label>{% if acct.subscription.status == 1 %}Renews{% else %}Ends{% endif %} on:</label> {{ acct.subscription.next_renew }}</p>
      {% endif %}
      <p>
        {% if action %} <a class='btn btn-inline btn-success' href='/subscriptions'>{% if action == 'billing' %}Upgrade{% else %}Modify Subscription{% endif %}</a>{% endif %}</p>
      </p>
    </div>
  </div>
{% endblock body %}
