{% extends 'griddl/__base.htm' %}
{% load staticfiles %}

{% block title %} Your Account | {{ block.super }} {% endblock title %}

{% block body %}

<style>.fixed-width { width:15em }</style>

<hr />
<div class="row">
  <div class="col-xs-3">
		<a id="subscriptions" class="btn btn-success fixed-width" title="Subscription" href="/subscriptions">{% if action == "billing" %}Upgrade{% else %}Modify Subscription{% endif %}</a>
	</div>
  <div class="col-xs-2">
    <label>Plan: </label><span id="plan">{{ plan }}</span>
  </div>
  <div class="col-xs-4">
    Storage used: {{ size|filesizeformat }} of {{ plan_size }} MB ({{ pct }}%)
  </div>
  <div class="col-xs-3">
    {% if noncompliant %}
	  <span style="color:red">Overflow - please reduce storage usage</span>
    {% endif %}
  </div>
</div>
<hr />
{% if user.is_superuser %}
<div class="row">
	<div class="col-xs-3">
		<a class="btn btn-default fixed-width" title="Recycle" href="/recycle">Recycle bin</a>
	</div>
	<div class="col-xs-9">
		View and optionally restore deleted workbooks
	</div>
</div>
<hr />
<div class="row">
	<div class="col-xs-3">
		<a class="btn btn-default fixed-width" title="Preferences" href="/preferences">Preferences</a>
	</div>
	<div class="col-xs-9">
		Manage user styles, Codemirror themes, keybindings, etc.
	</div>
</div>
<hr />
<div class="row">
	<div class="col-xs-3">
		<a class="btn btn-default fixed-width" title="Export" href="/export">Export data</a>
	</div>
	<div class="col-xs-9">
		Export all workbook data as a .tar.gz of json files
	</div>
</div>
<hr />
{% endif %}
<div class="row">
	<div class="col-xs-3">
		<a class="btn btn-default fixed-width" id="password" title="Change your password" href="{% url 'django.contrib.auth.views.password_change' %}">Change your password</a>
	</div>
	<div class="col-xs-9">
	</div>
</div>
<hr />
{% if user.is_superuser %}
<div class="row">
	<div class="col-xs-3">
		<a class="btn btn-danger fixed-width" title="Delete" href="/deleteAccount">Delete account</a>
	</div>
	<div class="col-xs-9">
	</div>
</div>
<hr />
{% endif %}

{% endblock body %}
