{% extends 'griddl/__base.htm' %}
{% load static from staticfiles %}
{% block title %} My Profile | {{ block.super }} {% endblock %}
{% block styles %}
  {{ block.super }}
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script type='text/javascript' src="{% static 'griddl/js/directory.js' %}"></script>
{% endblock %}

{% block body %}
  <div style="display:inline; margin:2em; height:10em">
    <div style="display:inline-block; border:0px solid black; float:left; margin:1em;">
      <a style="margin-right:1em;" class="btn btn-default" {{ parentdir|yesno:',disabled' }} href="{{ parentdir }}">
        <i class="fa fa-level-up fa-flip-horizontal fa-2x" style="vertical-align: middle;"></i>
        &nbsp;Up
      </a>
      <button class='btn btn-default' id="newWorkbookButton" data-toggle="modal" data-target="#newWorkbookModal">
        <span class="fa-stack">
          <i class="fa fa-stack-2x fa-file-o"></i>
          <i class="fa fa-stack-1x fa-plus"></i>
        </span>
        &nbsp;New workbook
      </button>
      <button class='btn btn-default' id="newDirectoryButton" data-toggle="modal" data-target="#newDirectoryModal">
        <span class="fa-stack">
          <i class="fa fa-stack-2x fa-folder-o"></i>
          <i class="fa fa-stack-1x fa-plus"></i>
        </span>
        &nbsp;New directory
      </button>
      <button id="renameButton" class="btn btn-default workbookAction menuAction" disabled onclick="renameToggle();">
        <span class="fa-stack">
          <i class="fa fa-stack-2x fa-file-o"></i>
          <i class="fa fa-stack-1x fa-i-cursor"></i>
        </span>
        &nbsp;Rename
      </button>
      <button id="deleteButton" class="btn btn-default workbookAction menuAction" disabled data-toggle="modal" data-target="#deleteModal">
        <span class="fa fa-trash-o fa-2x" style="vertical-align: middle;"></span>
        &nbsp;Delete
      </button>
      <button id="moveButton" class="btn btn-default workbookAction menuAction" disabled data-toggle="modal" data-target="#moveModal">
        <span class="fa fa-share fa-2x" style="vertical-align: middle;"></span>
        &nbsp;Move
      </button>
    </div>
  </div>


  <table class='table table-striped'>
    <tr style="height:3em;">
      <th style="width:3em;"></th>
      <th style="width:20em;">Name</th>
      <th style="width:20em;">Type</th>
      <th style="width:3em;">Public?</th>
    </tr>
    {% for workbook in workbooks %}
      <tr class="workbook" id="wb{{ workbook.pk }}" data-pk="{{ workbook.pk }}">
        <td><span class="fa fa-{% if workbook.filetype == 'F' %}file-o{% else %}folder-o{% endif %}"></span></td>
        <td>
          <form class="form-inline renameForm" action="/rename" method="POST" style="display:none;">
            {% csrf_token %}
            <input type="hidden" name="path" value="{{ path }}"></input>
            <input type="hidden" name="id" value="{{ workbook.pk }}">
            <label for="newname" class='sr-only' aria-hidden='true'>New Workbook Name:</label>
            <input class='form-control input-sm' type="text" name="newname"></input>
            <button class='btn btn-success btn-sm' type="submit" value="Rename">Rename</button>
            <button class='btn btn-danger btn-sm' type="button" value="Cancel" onclick="renameToggle();">Cancel</button>
          </form>
          <a class="namelink" href="/{{ workbook.filetype|lower }}/{{ user.pk }}/{{ workbook.path }}{{ workbook.path|yesno:'/,,' }}{{ workbook.name }}">{{ workbook.name }}</a>
        </td>
        <td>
          {{ workbook.type }}
        </td>
        <td>
          {% if workbook.filetype == 'F' %}
            <input type="checkbox" {% if workbook.public %}checked {% endif %}style="margin-left:1em;" onchange="togglePublic({{ workbook.pk }})"></input>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>

{% endblock %}

{% block footer %}
  <div class="modal fade" id="newWorkbookModal">
    <div class='modal-dialog'>
      <div class='modal-content'>
        <div class='modal-header'>
          <button type="button" class='close' data-dismiss='modal' aria-label="close"><span aria-hidden="true">&times;</span></button>
          <h3 class='modal-title'>Create New Workbook</h3>
        </div>
        <div class='modal-body'>
          <form class='form form-horizontal' action="/create" method="POST">
            {% csrf_token %}
            <input type="hidden" name="path" value="{{ path }}"></input>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="name">Name:</label>
                <div class="col-sm-10">
                  <input class="form-control" type="text" title="name" name="name"></input>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="type">Type:</label>
                <div class="col-sm-10">
                  <select class="form-control" name="type">
                    {% for defaultWorkbook in defaultWorkbooks %}
                      <option>{{ defaultWorkbook.name }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-12">
                  <div class="pull-right">
                    <input class="btn btn-success" type="submit" value="Create"></input>
                    <input class="btn btn-danger" type="button" value="Cancel" data-dismiss='modal'></input>
                  </div>
                </div>
              </div>

          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="newDirectoryModal">
    <div class='modal-dialog'>
      <div class='modal-content'>
        <div class='modal-header'>
          <button type="button" class='close' data-dismiss='modal' aria-label="close"><span aria-hidden="true">&times;</span></button>
          <h3 class='modal-title'>Create New Directory</h3>
        </div>

        <div class='modal-body'>
          <form id="newDirectoryForm" class="form form-horizontal" action="/createDir" method="POST">
            {% csrf_token %}
            <input type="hidden" name="path" value="{{ path }}"></input>

            <div class="form-group">
              <label class='control-label col-sm-2' for='name'>Name:</label>
              <div class="col-sm-10">
                <input class='form-control' type="text" title="name" name="name"></input>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-12">
                <div class="pull-right">
                  <input class="btn btn-success" type="submit" value="Create"></input>
                  <input class="btn btn-danger" type="button" value="Cancel" data-dismiss='modal'></input>
                </div>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="moveModal">
    <div class='modal-dialog modal-md'>
      <div class='modal-content'>
        <div class='modal-header'>
          <button type="button" class='close' data-dismiss='modal' aria-label="close"><span aria-hidden="true">&times;</span></button>
          <h3 class='modal-title'>Move Object</h3>
        </div>
        <div class='modal-body'>
          <form class="form-horizontal" id="moveForm" method="POST">
            {% csrf_token %}
            <input id="moveIdInput" type="hidden" name="id" value=""></input>
            <input type="hidden" name="path" value="{{ path }}"></input>
            <div class="form-group">
              <label for="parent" class="control-label col-sm-3">New folder:</label>
              <div class="col-sm-9">
                <select class="workbookAction form-control" name="parent">
                  {% for dir in acctdirs %} 
                    <option value="{{ dir.val }}">{{ dir.display }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-12">
                <div class="pull-right">
                  <input class="workbookAction btn btn-success" type="submit" value="Move"></input>
                  <input class="workbookAction btn btn-danger" type="button" value="Cancel" data-dismiss='modal'></input>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="deleteModal">
    <div class='modal-dialog modal-sm'>
      <div class='modal-content'>
        <div class='modal-body'>
          <button type="button" class='close' data-dismiss='modal' aria-label="close"><span aria-hidden="true">&times;</span></button>
          <form id="deleteForm" method="POST">
            {% csrf_token %}
            <input type="hidden" name="path" value="{{ path }}"></input>
            <p class="label">Are you sure you want to delete this?</p>
            <div style="display:inline-block;">
              <input id="deleteIdInput" type="hidden" name="id" value=""></input>
              <input class='btn btn-warning workbookAction' type="submit" value="Delete"></input>
              <input class='btn btn-danger workbookAction' type="button" value="Cancel" data-dismiss="modal"></input>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock footer %}
