{% extends 'griddl/__base.htm' %}
{% load static from staticfiles %}

{% block meta-tags %}
  {{ block.super }}
{% endblock %}

{% block styles %}
  <link href="{% static 'griddl/css/jumbotron-narrow.css' %}" rel="stylesheet">
  {{ block.super }}
{% endblock %}

{% block body %}
    <!--
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div>
      </div>
    </nav>
    -->
    
    <div class="jumbotron">
      <div class="container">
        <h1>Hyperdeck</h1>
        <p>Hyperdeck is a programming notebook with a focus on creating documents</p>
        <p><a class="btn btn-lg btn-success" href="/signup" role="button">Sign up</a></p>
      </div>
    </div>

    <div class="container">
      
      <div class="row">
        <div class="col-md-4">
          <h2>It's just html/css/js</h2>
          <p>Hyperdeck uses standard web technologies to build your documents.  Open, extensible, ubiquitous - all the benefits of the web come built-in.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Data, code, and document in one package</h2>
          <p>Sharing documents without the data and code behind them is simply barbaric.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Programming is for everyone</h2>
          <p>Hyperdeck strives to provide a smooth learning curve with platforms suitable for newbies, casuals, professionals, and everyone in between.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

      <!-- <footer>
        <p>&copy; 2015 Company, Inc.</p>
      </footer> -->
    </div>

{% endblock %}
