{% extends 'griddl/__base.htm' %}
{% load static from staticfiles %}

{% block meta-tags %}
  {{ block.super }}
{% endblock %}

{% block styles %}
  <link href="{% static 'griddl/css/jumbotron-narrow.css' %}" rel="stylesheet">
  {{ block.super }}
{% endblock %}

{% block body %}
    <div class="jumbotron">
      <div class="container">
        <h1>Hyperdeck</h1>
        <p>A programming notebook with a focus on creating documents</p>
        <p><a class="btn btn-lg btn-success" href="/signup" role="button">Sign up</a></p>
      </div>
    </div>

    <div class="container">
      
      <div class="row">
        <div class="col-md-4">
          <h2>It's just html/css/js</h2>
          <p>Open, extensible, ubiquitous - all the benefits of the web come built-in.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Data, code, and document in one package</h2>
          <p>Sharing documents without the data and code behind them is simply barbaric.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Programming is for everyone</h2>
          <p>Hyperdeck strives to be suitable for newbies, casuals, professionals, and everyone in between.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

    </div>

{% endblock %}
