<html>
<head>
<title>local</title>
<link rel='stylesheet' type='text/css' href='/static/griddl/css/codemirror-5.0.css' />
<link rel='stylesheet' type='text/css' href='/static/griddl/css/handsontable.full-0.14.1.css' />
<link rel='stylesheet' type='text/css' href='/static/griddl/css/jquery.ui.css' />
<style>#cells { position:absolute; top:3em; left:2em; width:40em; height:40em; overflow:auto; }</style>
</head>
<body onload='Griddl.Main()'>
<script type='text/javascript' src='/static/griddl/js/lib/jquery-1.10.2.min.js'></script>
<script type='text/javascript' src='/static/griddl/js/lib/codemirror-5.0.js'></script>
<script type='text/javascript' src='/static/griddl/js/lib/codemirror-5.0-javascript.js'></script>
<script type='text/javascript' src='/static/griddl/js/lib/codemirror-5.0-css.js'></script>
<script type='text/javascript' src='/static/griddl/js/lib/codemirror-5.0-xml.js'></script>
<script type='text/javascript' src='/static/griddl/js/lib/handsontable.full.min-0.14.1.js'></script>
<script type='text/javascript' src='/static/griddl/js/lib/dat.gui.min.js'></script>
<script type='text/javascript' src='/static/griddl/js/lib/jquery-ui.min.js'></script>
<input type='file' id='fileChooser' style='display:none' onchange='GriddlAjax.HandleLocalLoad(this.files)' />
<div style='display:inline; margin-bottom:1em;'>
<div style='display:inline-block; border:0px solid black; float:left;'>
<button onclick='GriddlAjax.DownloadWorkbook();'>Download Workbook</button>
<button onclick='GriddlAjax.UploadWorkbook();' style='margin-right:1em;'>Upload Workbook</button>
<button onclick='Griddl.NewText();'>NewText</button>
<button onclick='Griddl.NewGrid();'>NewGrid</button>
<button onclick='Griddl.NewMatrix();'>NewMatrix</button>
<button onclick='Griddl.NewTable();'>NewTable</button>
<button onclick='Griddl.NewTree();'>NewTree</button>
<button onclick='Griddl.NewHtml();'>NewHtml</button>
<button onclick='Griddl.NewCss();'>NewCss</button>
<button onclick='Griddl.NewJs();'>NewJs</button>
<button onclick='Griddl.NewJson();'>NewJson</button>
<button onclick='Griddl.NewDatgui();'>NewDatgui</button>
<button onclick='Griddl.NewImage();'>NewImage</button>
<button onclick='Griddl.NewBinary();'>NewBinary</button>
<button onclick='Frce.ReorderComponents();'>Reorder</button>
</div>
</div>
<div id='frce' style='display:none;'>
</div>
<script type='text/javascript' src='/static/griddl/js/griddl.js'></script>
<script type='text/javascript' src='/static/griddl/js/lib/typeset.js'></script>
<script type='text/javascript' src='/static/griddl/js/graphviz.js'></script>
<script type='text/javascript' src='/static/griddl/js/layout.js'></script>
<div id='cells'></div>
</body>
</html>
