{% extends 'griddl/__base.htm' %}
{% load static from staticfiles %}
{% load bootstrap3 %}

{% block title %}Log In | {{ block.super }} {% endblock %}

{% block body %}
    <form class='form' method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <input class='btn btn-success' type="submit" value="Log In" /> 
            <a href='{% url "password_reset_recover" %}' class='btn btn-info'>Forgot Password?</a>
        {% endbuttons %}
    </form>
{% endblock %}
