
{% extends "griddl/workbook-base.htm" %}

{% block style %}
#cells { position:absolute; top:3em; left:2em; }
{% endblock %}

{% block menuitems %}
	<button onclick="Griddl.NewText();">NewText</button>
	<button onclick="Griddl.NewGrid();">NewGrid</button>
	<button onclick="Griddl.NewMatrix();">NewMatrix</button>
	<button onclick="Griddl.NewTable();">NewTable</button>
	<button onclick="Griddl.NewTree();">NewTree</button>
	<button onclick="Griddl.NewHtml();">NewHtml</button>
	<button onclick="Griddl.NewCss();">NewCss</button>
	<button onclick="Griddl.NewJs();">NewJs</button>
	<button onclick="Griddl.NewJson();">NewJson</button>
	<button onclick="Griddl.NewDatgui();">NewDatgui</button>
	<button onclick="Griddl.NewImage();">NewImage</button>
	<button onclick="Griddl.NewAudio();">NewAudio</button>
	<button onclick="Griddl.NewBinary();">NewBinary</button>
	<button onclick="Frce.ReorderComponents();">Reorder</button>
{% endblock %}

{% block html %}
	<script type="text/javascript" src="/static/griddl/js/griddl.js"></script>
	<script type="text/javascript" src="/static/griddl/js/music.js"></script>
	<script type="text/javascript" src="/static/griddl/js/lib/MIDI.js"></script>
	<script type="text/javascript" src="/static/griddl/js/lib/inc/jasmid/midifile.js"></script>
	<script type="text/javascript" src="/static/griddl/js/lib/inc/jasmid/replayer.js"></script>
	<script type="text/javascript" src="/static/griddl/js/lib/inc/jasmid/stream.js"></script>
	<div id="cells"></div>
{% endblock %}

