{% extends 'griddl/__base.htm' %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block header %}
    <div class="row">
        <div class="col-md-10 col-md-offset-2">
           <h1>Sign up</h1> 
        </div>
    </div>
{% endblock %}

{% block body %}
    {% if errorMessage %}
        <div class="row">
            <div class="col-md-12">
                <p><span style="color:red;">{{ errorMessage }}</span></p>
            </div>
        </div>
    {% endif %}

    {% crispy form %}
{% endblock %}
