
<style>tr:nth-child(2n+1) { background-color : lightgray }</style>

<table>
<tr><td>MRR</td><td>${{ MRR }}</td></tr>
<tr><td>users</td><td>{{ nUsers }}</td></tr>
<tr><td>workbooks</td><td>{{ nWorkbooks }}</td></tr>
<tr><td>storage used</td><td>{{ storageUsed|filesizeformat }}</td></tr>
<tr><td>free plans</td><td>{{ freePlans }}</td></tr>
<tr><td>small plans</td><td>{{ smallPlans }}</td></tr>
<tr><td>medium plans</td><td>{{ mediumPlans }}</td></tr>
<tr><td>large plans</td><td>{{ largePlans }}</td></tr>
<tr><td>noncompliant accounts</td><td>{{ nAccountsNoncompliant }}</td></tr>
</table>

