{# fragment for top nav element #}
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="pull-left clearfix">
      <h1 class="text-muted">Hyperbench</h1>
    </div>
    <div class="nav navbar-nav nav-pills pull-right navbar-right clearfix">
      {% if user.is_authenticated %}
        <a href="/{{ user.account.pk }}" class="btn btn-primary">
          <span class="fa fa-home fa-2x"></span>
          &nbsp;Home
        </a>
        <a href="/{{ user.account.pk }}/account" class="btn btn-default">
          <span class="fa fa-cogs fa-2x"></span>
          &nbsp;Account
        </a>
        <a href="/logout" class="btn btn-info">
          <span class="fa fa-sign-out fa-2x"></span>
          &nbsp;Logout
        </a>
      {% else %}
        <a class="btn btn-info" href="/login">
          <span class="fa fa-sign-in fa-2x"></span>
          &nbsp;Sign in
        </a>
      {% endif %}
    </div>
  </div>
</div>
