{% extends 'griddl/__base.htm' %}
{% load static from staticfiles %}
{% load bootstrap3 %}


{% block title %}{{ workbook.name }} | {{ block.super }}{% endblock %}


{% block styles %}
  {{ block.super }}
  <style>
    .form-align {
      margin-top: 1.8em !important;
    }
  </style>
{% endblock %}


{% block scripts %}
  {{ block.super }}
  <script type='text/javascript' src="{% static 'griddl/js/workbook.js' %}"></script>
{% endblock %}


{% block body %}
  <input type="file" id="fileChooser" style="display:none" onchange="Griddl.IO.HandleLocalLoad(this.files)" />

  
  <div class="row" id="topMenu">
    <div class="col-sm-12">
      <a style="margin-right:1em;" class="btn btn-default" href="{{ parentdir }}">
        <i class="fa fa-level-up fa-flip-horizontal fa-2x" style="vertical-align: middle;"></i>
        Up
      </a>
          
      <h2 id="workbookName">{{ workbook.name }}</h2>

      <div class="pull-right">
        {% if user.is_authenticated %}
          {% if user.account == workbook.owner %}
            <button class="btn btn-default" id="saveMenuButton">
              <span class="fa-stack">
                <i class="fa fa-file-o fa-stack-2x"></i>
                <i class="fa fa-save fa-stack-1x"></i>
              </span>
  Save</button>
            <button class="btn btn-default" id="saveasMenuButton" data-toggle="modal" data-target='#saveAsModal'>
              <span class="fa-stack">
                <i class="fa fa-file-o fa-stack-2x"></i>
                <i class="fa fa-i-cursor fa-stack-1x"></i>
              </span>
              Save As
            </button>
          {% else %}
            <button class="btn btn-default" id="saveasMenuButton" data-toggle="modal" data-target='#saveAsModal'>
              <span class="fa-stack">
                <i class="fa fa-file-o fa-stack-2x"></i>
                <i class="fa fa-i-cursor fa-stack-1x"></i>
              </span>
              Save As
            </button>
          {% endif %}
        {% else %}
          <button class="btn btn-default" id="saveasMenuButton" data-toggle="modal" data-target='#saveAsModal'>
            <span class="fa-stack">
              <i class="fa fa-file-o fa-stack-2x"></i>
              <i class="fa fa-i-cursor fa-stack-1x"></i>
            </span>
            Save As
          </button>
        {% endif %}
      </div>
    </div>
  </div>


  <div class="row">
    <div id='frce'>{{ workbook.text }}</div>
    <iframe src="http://griddl.hyperbench.com/results" id="results" sandbox='allow-forms allow-popups allow-scripts allow-same-origin allow-modals'></iframe>
  </div>


  <form id="saveForm" action="/save" method="POST" style="display:none;">
    {% csrf_token %}
    <input type="hidden" name="id" value="{{ workbook.pk }}"></input>
    <input id="saveFormTextInput" type="hidden" name="text" value=""></input>
  </form>

  <div id="saveAsModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <form class='form-horizontal' id="saveAsForm">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ workbook.pk }}"></input>
            <input id="saveasFormTextInput" type="hidden" name="text" value=""></input>
            <div class="form-group">
              <label class='col-sm-3 form-label'>New name:</label>
              <div class='col-sm-9'>
                <input class="form-control" type="text" name="newname"></input>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button id="saveAsSubmit" class="btn btn-success" type="submit" value="Save">Save</input>
          <button class="btn btn-danger" type="button" value="Cancel" data-dismiss="modal">Cancel</input>
        </div>
      </div>
    </div>
  </div>

  <div id="loginScreen" style="display:none; position:fixed; top:0; left:0; width:100%; height:100%; z-index:997; opacity:0.6; background-color:#444444;"></div>
  <div id="loginDialog" style="display:none; position:fixed; left:0; top:0; right:0; bottom:0; margin:auto; width:20%; height:40%; z-index:998; opacity:1.0; background-color:#ffffff;">
      <form id="loginForm" action="/ajaxlogin" method="POST">
          {% csrf_token %}
          <input type="hidden" name="next" value="/newcsrftoken"></input>
          <div style="position:absolute; left:0; top:0; right:0; bottom:0; margin:auto; width:60%; height:40%; z-index:999; background-color:#ffffff;">
              <div style="display:inline-block;">
                  <table>
                      <tr>
                          <td><label>Username:</label></td>
                          <td><input id="loginFormUsername" type="text" name="username"></input></td>
                      </tr>
                      <tr>
                          <td><label>Password:</label></td>
                          <td><input id="loginFormPassword" type="password" name="password"></input></td>
                      </tr>
                      <tr>
                          <td><input type="button" value="Log in" onclick="Griddl.UI.SubmitLoginForm();"></input></td>
                          <td><input type="button" value="Sign up" onclick="Griddl.UI.SubmitSignupForm();"></input></td>
                      </tr>
                      <tr>
                          <td><input type="button" value="Cancel" onclick="Griddl.UI.HideLoginModal();"></input></td>
                      </tr>
                  </table>
              </div>
          </div>
      </form>
  </div>

{% endblock %}


{% block footer %}

<div class="modal fade" id="documentSettings">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3>Document Settings</h3>
      </div>
      <div class="modal-body">
      <form class="form-horizontal">

        <div class="form-group">
          <label class="col-sm-3 control-label form-align">Page Dimensions</label>
          <div class="col-sm-3">
            <label for="pageWidth" class="control-label small">Width</label>
            <input type="number" id="pageWidth" name="pageWidth" value="8.5" class="form-control" />
          </div>
          <div class="col-sm-3">
            <label for="pageHeight" class="control-label small">Height</label>
            <input type="number" id="pageHeight" name="pageHeight" value="11" class="form-control" />
          </div>
          <div class="col-sm-2">
            <label for="unitSelector" class="sr-only">Units</label>
            <select name="unitSelector" id="unitSelector" class="form-control form-align">
              <option>in</option>
              <option>cm</option>
              <option>mm</option>
              <option>pt</option>
            </select>
          </div>
        </div>

        <hr />
        <div class="form-group">
          <label for="resolution" class="col-sm-3 control-label">Resolution</label>
          <div class="col-sm-3">
            <input type="number" id="resolution" name="resolution" class="form-control" value="72" aria-describedby="resolution-help" />
          </div>
          <div class="col-sm-6">
            <span id="resolution-help" class="help-block">pixels per <span class="units">in</span></span>
          </div>
        </div>

        <hr />
        <div class="form-group">
          <label for="usersPerUnit" class="control-label col-sm-3">User space units</labeL>
          <div class="col-sm-3">
            <input type="number" id="usersPerUnit" name="usersPerUnit" value="100" class="form-control" aria-describedby="usersPerUnit-help" />
          </div>
          <div class="col-sm-6">
            <span id="usersPerUnit-help" class="help-block">user space units per <span class="units">in</span></span>
          </div>
        </div>

        <hr />
        <div class="form-group">
          <label class="control-label col-sm-3 form-align">Snap Grid</labeL>
          <div class="col-sm-4">
            <label class="control-label small" for="gridlineSpacing">Gridline spacing:</label>
            <input type="number" id="gridlineSpacing" name="gridlineSpacing" value="0.25" class="form-control" aria-describedby="gridlineSpacing-help" style="width: 75%; display: inline-block;" />
            <span class="help-block units" id="gridlineSpacing-help" style="display: inline-block;">in</span>
          </div>
          <div class="col-sm-3">
            <label class="control-label small" for="gridlineHighlight">Gridline highlight:</label>
            <input type="number" id="gridlineHighlight" name="gridlineHighlight" value="0.25" class="form-control" aria-describedby="gridlineHighlight-help" style="width: 75%; display: inline-block;" />
            <span class="help-block units" id="gridlineHighlight-help" style="display: inline-block;">in</span>
          </div>
        </div>

        <hr />
        <div class="form-group">
          <div class="col-sm-4 col-sm-offset-8">
            <button onclick="Griddl.UI.SaveDocumentSettings()" class="btn btn-success" id="settings-submit">Save</button>
            <a class="btn btn-default" id="settings-cancel" data-dismiss="modal">Cancel</a>
          </div>
        </form>
      </div>
    </div>
</div>
{% endblock footer %}
