{% extends 'griddl/__base.htm' %}
{% load static from staticfiles %}
{% load bootstrap3 %}


{% block title %}{{ workbook.name }} | {{ block.super }}{% endblock %}


{% block styles %}
  {{ block.super }}
  <style>
    .form-align {
      margin-top: 1.8em !important;
    }
  </style>
{% endblock %}


{% block scripts %}
  {{ block.super }}
  <script type='text/javascript' src="{% static 'griddl/js/workbook.js' %}"></script>
{% endblock %}


{% block body %}

  
  <div class="row" id="topMenu">
    <div class="col-sm-12">
      <a style="margin-right:1em;" class="btn btn-default" href="{{ parentdir }}">
        <i class="fa fa-level-up fa-flip-horizontal fa-2x" style="vertical-align: middle;"></i>
        Up
      </a>
          
      <h2 id="workbookName">{{ workbook.name }}</h2>

      <div class="pull-right">
        {% if user.is_authenticated %}
          {% if user.account == workbook.owner %}
            <button class="btn btn-default" id="saveMenuButton">
              <span class="fa-stack">
                <i class="fa fa-file-o fa-stack-2x"></i>
                <i class="fa fa-save fa-stack-1x"></i>
              </span>
  Save</button>
            <button class="btn btn-default" id="saveasMenuButton" data-toggle="modal" data-target='#saveAsModal'>
              <span class="fa-stack">
                <i class="fa fa-file-o fa-stack-2x"></i>
                <i class="fa fa-i-cursor fa-stack-1x"></i>
              </span>
              Save As
            </button>
          {% else %}
            <button class="btn btn-default" id="saveasMenuButton" data-toggle="modal" data-target='#saveAsModal'>
              <span class="fa-stack">
                <i class="fa fa-file-o fa-stack-2x"></i>
                <i class="fa fa-i-cursor fa-stack-1x"></i>
              </span>
              Save As
            </button>
          {% endif %}
        {% else %}
          <button class="btn btn-default" id="saveasMenuButton" data-toggle="modal" data-target='#saveAsModal'>
            <span class="fa-stack">
              <i class="fa fa-file-o fa-stack-2x"></i>
              <i class="fa fa-i-cursor fa-stack-1x"></i>
            </span>
            Save As
          </button>
        {% endif %}
      </div>
    </div>
  </div>


  <div class="row">
    <div id='frce'>{{ workbook.text }}</div>
    <iframe src="http://{{ sandbox }}.hyperdeck.io/results" id="results" sandbox='allow-forms allow-popups allow-scripts allow-same-origin allow-modals' seamless></iframe>
  </div>


  <form id="saveForm" action="/save" method="POST" style="display:none;">
    {% csrf_token %}
    <input type="hidden" name="id" value="{{ workbook.pk }}"></input>
    <input id="saveFormTextInput" type="hidden" name="text" value=""></input>
  </form>

  <div id="saveAsModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <form class='form-horizontal' id="saveAsForm">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ workbook.pk }}"></input>
            <input id="saveAsFormTextInput" type="hidden" name="text" value=""></input>
            <div class="form-group">
              <label class='col-sm-3 form-label'>New name:</label>
              <div class='col-sm-9'>
                <input class="form-control" type="text" name="newname"></input>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button id="saveAsSubmit" class="btn btn-success" type="submit" value="Save">Save</input>
          <button class="btn btn-danger" type="button" value="Cancel" data-dismiss="modal">Cancel</input>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
