{% extends 'griddl/__base.htm' %}
{% load static from staticfiles %}
{% load bootstrap3 %}


{% block title %}{{ workbook.name }} | {{ block.super }}{% endblock %}


{% block styles %}
    {{ block.super }}
    <link rel='stylesheet' type='text/css' href="{% static 'griddl/css/codemirror-3.20.css' %}" />
    <link rel='stylesheet' type='text/css' href="{% static 'griddl/css/jquery.ui.css' %}" />
    <link rel='stylesheet' type='text/css' href="{% static 'griddl/css/jquery.handsontable.full.css' %}" />
    <link rel='stylesheet' type='text/css' href="{% static 'griddl/css/indentree.css' %}" />
{% endblock %}


{% block scripts %}
    {{ block.super }}
    <script type='text/javascript' src="{% static 'griddl/js/lib/codemirror-3.20.js' %}"></script>
    <script type='text/javascript' src="{% static 'griddl/js/lib/codemirror-3.20-javascript.js' %}"></script>
    <script type='text/javascript' src="{% static 'griddl/js/lib/codemirror-3.20-css.js' %}"></script>
    <script type='text/javascript' src="{% static 'griddl/js/lib/codemirror-3.20-xml.js' %}"></script>
    <script type='text/javascript' src="{% static 'griddl/js/lib/jquery.mousewheel.js' %}"></script>
    <script type='text/javascript' src="{% static 'griddl/js/lib/jquery.handsontable.full.js' %}"></script>
    <script type='text/javascript' src="{% static 'griddl/js/lib/jquery-ui.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'griddl/js/griddl.js' %}"></script>
    <script type='text/javascript'>
        owner = {{ workbook.owner.pk }};
        $(document).ready(Griddl.Main);
    </script>
{% endblock %}


{% block body %}
    <input type="file" id="fileChooser" style="display:none" onchange="Griddl.IO.HandleLocalLoad(this.files)" />


    <div style="display:inline; margin-bottom:1em;">
        <div style="display:inline-block; border:0px solid black; float:left;">
            <a style="text-decoration:none; color:rgb(70,150,230); margin-right:1em; {% if user.is_authenticated %}{% if user == workbook.owner %}{% else %}display:none; {% endif %}{% else %}display:none; {% endif %}" href="/d/{{ user.pk }}{{ parentdir|yesno:'/,,' }}{{ parentdir }}">Parent dir</a>
            
            {% if user.is_authenticated %}
                {% if user == workbook.owner %}
                    <button id="saveMenuButton" style="color:black;" onclick="$('#saveForm').submit()">Save</button>
                    <button id="saveasMenuButton" style="color:black;" onclick="Griddl.UI.ShowSaveAsModal()">Save As</button>
                {% else %}
                    <button id="saveMenuButton" disabled style="color:gray;" onclick="$('#saveForm').submit()">Save</button>
                    <button id="saveasMenuButton" style="color:black;" onclick="Griddl.UI.ShowSaveAsModal()">Save As</button>
                {% endif %}
            {% else %}
                <button id="saveMenuButton" disabled style="color:gray;" onclick="$('#saveForm').submit()">Save</button>
                <button id="saveasMenuButton" disabled style="color:gray;" onclick="Griddl.UI.ShowSaveAsModal()">Save As</button> <!-- or onclick="Griddl.UI.ShowLoginModal()" if you want to redirect -->
            {% endif %}
            
            {% block menuitems %}{% endblock %}
        </div>
        <div style="display:inline-block; border:0px solid black; float:right;">
            {% if user.is_authenticated %}
                <a id="profileLink" style="visibility:visible; text-decoration:none; color:rgb(70,150,230); margin-right:1em;" href="/d/{{ user.pk }}">Profile</a>
            {% else %}
                <a id="profileLink" style="visibility:hidden; text-decoration:none; color:rgb(70,150,230); margin-right:1em;" href="/d/{{ user.pk }}">Profile</a>
            {% endif %}
            
            {% if user.is_authenticated %}
                <a id="logoutLink" style="display:inline; text-decoration:none; cursor:pointer; color:rgb(70,150,230); margin-right:1em;" href="/logout">Logout</a>
                <a id="loginLink" style="display:none; text-decoration:none; cursor:pointer; color:rgb(70,150,230); margin-right:1em;" onclick="Griddl.UI.ShowLoginModal()">Login</a>
            {% else %}
                <a id="logoutLink" style="display:none; text-decoration:none; cursor:pointer; color:rgb(70,150,230); margin-right:1em;" href="/logout">Logout</a>
                <a id="loginLink" style="display:inline; text-decoration:none; cursor:pointer; color:rgb(70,150,230); margin-right:1em;" onclick="Griddl.UI.ShowLoginModal()">Login</a>
            {% endif %}
        </div>
    </div>

    <!-- use? {% autoescape off %}{% endautoescape %} -->
    <div id="frce" style="display:none;">{{ workbook.text }}</div>


    <form id="saveForm" action="/save" method="POST" style="display:none;">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ workbook.pk }}"></input>
        <input id="saveFormTextInput" type="hidden" name="text" value=""></input>
    </form>

    <div id="saveAsScreen" style="display:none; position:fixed; top:0; left:0; width:100%; height:100%; z-index:997; opacity:0.6; background-color:#444444;"></div>
    <div id="saveAsDialog" style="display:none; position:fixed; left:0; top:0; right:0; bottom:0; margin:auto; width:20%; height:40%; z-index:998; opacity:1.0; background-color:#ffffff;">
        <form id="saveasForm" action="/saveas" method="POST">
            {% csrf_token %}
            <div style="position:absolute; left:0; top:0; right:0; bottom:0; margin:auto; width:60%; height:40%; z-index:999; background-color:#ffffff;">
                <label>New name:</label>
                <div style="display:inline-block;">
                    <input type="hidden" name="id" value="{{ workbook.pk }}"></input>
                    <input id="saveasFormTextInput" type="hidden" name="text" value=""></input>
                    <input type="text" name="newname"></input>
                    <input type="submit" value="Save"></input>
                    <input type="button" value="Cancel" onclick="Griddl.UI.HideSaveAsModal();"></input>
                </div>
            </div>
        </form>
    </div>

    <div id="loginScreen" style="display:none; position:fixed; top:0; left:0; width:100%; height:100%; z-index:997; opacity:0.6; background-color:#444444;"></div>
    <div id="loginDialog" style="display:none; position:fixed; left:0; top:0; right:0; bottom:0; margin:auto; width:20%; height:40%; z-index:998; opacity:1.0; background-color:#ffffff;">
        <form id="loginForm" action="/ajaxlogin" method="POST">
            {% csrf_token %}
            <input type="hidden" name="next" value="/newcsrftoken"></input>
            <div style="position:absolute; left:0; top:0; right:0; bottom:0; margin:auto; width:60%; height:40%; z-index:999; background-color:#ffffff;">
                <div style="display:inline-block;">
                    <table>
                        <tr>
                            <td><label>Username:</label></td>
                            <td><input id="loginFormUsername" type="text" name="username"></input></td>
                        </tr>
                        <tr>
                            <td><label>Password:</label></td>
                            <td><input id="loginFormPassword" type="password" name="password"></input></td>
                        </tr>
                        <tr>
                            <td><input type="button" value="Log in" onclick="Griddl.UI.SubmitLoginForm();"></input></td>
                            <td><input type="button" value="Sign up" onclick="Griddl.UI.SubmitSignupForm();"></input></td>
                        </tr>
                        <tr>
                            <td><input type="button" value="Cancel" onclick="Griddl.UI.HideLoginModal();"></input></td>
                        </tr>
                    </table>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
