{% extends 'griddl/__base.htm' %}
{% load static from staticfiles %}

{% block title %}Manage Subscription | {{ block.super }}{% endblock %}

{% block body %}
<div class='row'>
  <div class="col-sm-12">
    <h1>Subscription Plans</h1>
    <p>
      Subscription plans for Hyperdeck are based on the amount of storage you require. When your needs change, so can your plan! All billing is managed by FastSpring.
    </p>
  </div>
</div>
<div class="row">
  <div class='col-sm-8 col-sm-offset-2'>
    <div class='row'>
      {% for upgrade in upgrades %}
        <div class='col-sm-3 subscription {% if upgrade.current_plan %}current-plan{% endif %} {% if upgrade.disabled %}disable-upgrade{% endif %} text-center'>
          <h3>{{ upgrade.name }}</h3>
          <p class='plan-price'>{{ upgrade.price }}</p>
          <p class='plan-size'>{{ upgrade.size }}</p>
          {% if upgrade.current_plan %}
            <button class="disabled btn btn-success">This is your current plan</button>
          {% else %}
            <a target='_blank' title='{{ upgrade.direction}} to a {{ upgrade.name }} plan' class='btn btn-{{ upgrade.btn_class }}' href='{{ upgrade.link }}'>{{ upgrade.direction}} to {{ upgrade.name }} plan</a>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock body %}
